about {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: black;
  }
  
  person {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 100px;
    color: white;
  }
  
  name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  position {
    font-style: italic;
    color: #555;
    margin-bottom: 15px;
  }
  
  skills {
    margin-bottom: 15px;
  }
  
  skill {
    background-color: red;
    color: #fff;
    padding: 3px 6px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    border-radius: 3px;
  }
  
  experience {
    margin-bottom: 15px;
  }
  
  place {
    font-weight: bold;
  }
  
  role {
    margin-bottom: 5px;
  }
  
  studies {
    margin-bottom: 15px;
  }
  
  study {
    margin-right: 5px;
  }
  
  description {
    margin-bottom: 10px;
    margin-right: 100px;
    margin-left: 100px ;
    align-items: center;
  }

  
  #foto2 {
    display: flex;
    width: 100px;
    height: 150px;
    align-items: center;
    background-image: url("2023-04-28 Nico-1-1(2).jpg");
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center center;
}

#foto3 {
  display: flex;
  width: 100px;
  height: 150px;
  align-items: center;
  background-image: url("iker.jpg");
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center center;
}
