/* General Styles */
body {
    font-family: monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    background-size: cover;
    color: white; /* Letras blancas */
}

/* Header Styles */
header {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

/* Main Content Styles */
section {
    margin-top: 20px;
    flex-grow: 1;
}

/* Footer Styles */
footer {
    background-color: #f0f0f0;
    padding: 10px;
}

.copyright-info {
    text-align: center;
    font-size: 14px;
    color: #555;
}

/* Principal Text Styles */
.principal-text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 15px;
}

.logo {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}

/* Heading Styles */
h1 {
    font-family: 'Press Start 2P', system-ui;
    text-align: top;
    margin: 0;
    padding: 0;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
    margin-bottom: 70px;
}

/* Subtitle Styles */
.subt {
    font-size: 15px;
    color: red;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    /* Adjust styles for smaller screens */
    h1 {
        font-size: 30px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

/* Form and Map Styles */
.contact-container {
    display: flex;
}

.form-container,
.map-container {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.form-container {
    text-align: left;
    border-right: 2px solid white; /* Línea vertical entre el formulario y el mapa */
}

.map-container {
    text-align: left;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    font-size: 15px;
    margin-bottom: 8px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

form button {
    background-color:red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: rgb(187, 20, 20);
}
