works {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: black;
}

/* Style each person's container */
work {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px; /* Adjusted for a more subtle rounding */
    color: white;
}

/* Style person's name */
name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Style the subject */
subject {
    font-style: italic;
    color: #555;
    margin-bottom: 15px;
}

/* Style the work_name */
work_name {
    font-weight: bold;
    margin-bottom: 15px;
}

/* Style the description */
description {
    margin-bottom: 10px;
    /* Adjusted margins for better readability */
    margin-right: 20px;
    margin-left: 20px;
}

/* Style the skills section */
skills {
    margin-bottom: 15px;
}

skill {
    background-color: red;
    color: #fff;
    padding: 3px 6px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    border-radius: 3px;
}

/* Style the experience section */
experience {
    margin-bottom: 15px;
}

place {
    font-weight: bold;
}

role {
    margin-bottom: 5px;
}

/* Style the studies section */
studies {
    margin-bottom: 15px;
}

study {
    margin-right: 5px;
}

/* Adjusted description alignment */
description {
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}

