/* Apply general styling to the entire page */
about {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: black;
  }
  
  /* Style each person's container */
  person {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 100px;
    color: white;
  }
  
  /* Style person's name */
  name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Style the position */
  position {
    font-style: italic;
    color: #555;
    margin-bottom: 15px;
  }
  
  /* Style the skills section */
  skills {
    margin-bottom: 15px;
  }
  
  skill {
    background-color: red;
    color: #fff;
    padding: 3px 6px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    border-radius: 3px;
  }
  
  /* Style the experience section */
  experience {
    margin-bottom: 15px;
  }
  
  place {
    font-weight: bold;
  }
  
  role {
    margin-bottom: 5px;
  }
  
  /* Style the studies section */
  studies {
    margin-bottom: 15px;
  }
  
  study {
    margin-right: 5px;
  }
  
  /* Style the description */
  description {
    margin-bottom: 10px;
    margin-right: 100px;
    margin-left: 100px ;
    align-items: center;
  }
  foto2{
    display:flex;
    width:100px;
    height:150px;
    }
    #foto2{
    background-image: url("lasso.jpg");
    }