/* Estilos generales */
body {
    
    font-family: monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Asegura que el cuerpo ocupa al menos la altura completa de la ventana */
    display: flex;
    flex-direction: column;
    background-image: url(wallhaven-wew5x6_1920x1080.png);

}

h1 {
    font-family: 'Press Start 2P', system-ui;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em

}


header {
    background-color: #f0f0f0;
    padding: 20px;
}

/* Estilos para la navegación */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

/* Estilos para el contenido de la página de inicio */
section {
    margin-top: 20px;
    flex-grow: 1; /* Hace que el contenido ocupe el espacio restante */
}

/* Estilos para el pie de página */
footer {
    background-color: #f0f0f0;
    padding: 10px;
}

.copyright-info {
    text-align: center;
    font-size: 14px;
    color: #555;
}

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100% ;
    padding: 15px;
    
}

.center-image img {
    max-width: 100%;
    max-height: 100%;
}

.logo {
    font-family: 'Press Start 2P', system-ui;
    font-size:30px;
    color: black;
    text-align: left;
    justify-content: left;
}

.subt {
    font-size: 14px;
    align-items: right;
    padding-bottom:35px;
}




/* Agrega más estilos según sea necesario */

/* Pagina about*/
about {
    font-family: monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(wallhaven-wew5x6_1920x1080.png);
}

name {
    font-family: 'Press Start 2P', monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

section {
    margin-top: 20px;
    flex-grow: 1;
}

footer {
    background-color: #f0f0f0;
    padding: 10px;
}

.copyright-info {
    text-align: center;
    font-size: 14px;
    color: #555;
}

education, skills {
    margin-top: 20px;
}

university, year, skill {
    font-family: monospace;
    font-size: 16px;
}

skills {
    margin-top: 20px;
}

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 15px;
}

.center-image img {
    max-width: 100%;
    max-height: 100%;
}

.logo {
    font-family: 'Press Start 2P', monospace;
    font-size: 30px;
    color: black;
    text-align: left;
    justify-content: left;
}

.subt {
    font-size: 14px;
    align-items: right;
    padding-bottom: 35px;
}
