body {
    font-family: monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../media/sticks3.gif);
    background-position: bottom;
    background-size: cover;
    background-repeat:no-repeat ;
    max-width: 100%;

}

header {
    background-color: transparent ;
    padding: 20px;
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

nav a:hover {
    color: red;
}

section {
    margin-top: 20px;
    flex-grow: 1;
}

footer {
    background-color: transparent;
    padding: 10px;
}

.copyright-info {
    text-align: center;
    font-size: 14px;
    color: white;}

.principal-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 15px;
}

.logo {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}
h1 {
    font-family: 'Press Start 2P', system-ui;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(122, 118, 118) 0.1em 0.1em 0.2em;
}

.subt {
    font-size: 15px;
    color: red;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}




.redes {
    display: inline-flex;
    list-style: none;
    height: 100%;
    width: 100%;
    padding-top: 250px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  
  .redes .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .redes .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .redes .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .redes .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .redes .icon:hover span,
  .redes .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }

  .redes .linkedin:hover,
  .redes .linkedin:hover .tooltip,
  .redes .linkedin:hover .tooltip::before {
    background: #2b7cbe;
    color: #fff;
  }