body {
    font-family: monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(../media/sticks3.gif);
    background-position: bottom;
    background-size: cover;
    background-repeat:no-repeat ;
    max-width: 100%;

}

header {
    background-color: transparent ;
    padding: 20px;
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

nav a:hover {
    color: red;
}

section {
    margin-top: 20px;
    flex-grow: 1;
}

footer {
    background-color: transparent;
    padding: 10px;
}

.copyright-info {
    text-align: center;
    font-size: 14px;
    color: white;}

.principal-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 15px;
}

.logo {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}
h1 {
    font-family: 'Press Start 2P', system-ui;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-shadow: rgb(122, 118, 118) 0.1em 0.1em 0.2em;
}

.subt {
    font-size: 15px;
    color: red;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
