name: Deploy to FTP

on:
  push:
    branches:
      - main  # Change this to your main branch name

jobs:
  ftp-deploy:
    name: FTP Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Upload to FTP server
        uses: SamKirkland/FTP-Deploy-Action@4.3.0
        with:
          server: ftp.lasso.cat  # Replace with your FTP server address
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./  # Directory to upload, '.' means the root of the repository
          protocol: ftp  # Use 'ftps' if you need secure FTP
          security: strict  # Optional: add this if you want to ignore SSL certificate errors
